# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
# data//
.idea/

# Node
node_modules/
.next/

# Vercel & Build
.vercel/
tsconfig.tsbuildinfo
